<div class="signin">
    <div><h1>Sign In Here</h1></div>
    <div class="form">
        <form action="" method="post">
            <div>
                <input type="email" class="form-control" placeholder="Enter Your Email">
            </div>
            <div>
                <input type="password" name="" id="password" class="form-control" placeholder="Enter Your Password Here">
            </div>
                <div class="button">
                    <button type="submit"  class="btn-lg">Sign In</button>
                </div>

        </form>
        <div>
            <br><button routerLink="register" >Register</button>
        </div>
    </div>
</div>